<!DOCTYPE html>

<html class="no-js" lang="en">

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Hyperion</title>

		<!-- ////////////////////////////////// -->
		<!-- //      Stylesheets Files       // -->
		<!-- ////////////////////////////////// -->
		<link rel="stylesheet" href="css/base.css" id="camera-css" />
		<link rel="stylesheet" href="css/framework.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/noscript.css" media="screen,all" id="noscript" />

		<!-- ////////////////////////////////// -->
		<!-- //      Javascript Files        // -->
		<!-- ////////////////////////////////// -->
		<!--	<script src="js/jquery.min.js"></script>-->
		<script src="js/utils.js">
		</script>
		<script src="js/prescripe.js"></script>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	</head>

	<body>
		<!-- header start here -->
		<header>
			<div id="main-wrapper">

				<!-- top-social start here -->
				<div id="top-social"></div>
				<a class="trigger" href="#"></a>
				<div class="social-panel">
					<ul>
						<li>
							<a href="#">
								<img src="images/socials/social10.gif" alt="" />
							</a>
						</li>
						<li>
							<a href="#">
								<img src="images/socials/social32.gif" alt="" />
							</a>
						</li>
						<li>
							<a href="#">
								<img src="images/socials/social9.gif" alt="" />
							</a>
						</li>
						<li>
							<a href="#">
								<img src="images/socials/social15.gif" alt="" />
							</a>
						</li>
						<li>
							<a href="#">
								<img src="images/socials/social25.gif" alt="" />
							</a>
						</li>
					</ul>
				</div>
			</div>

			<!-- top-social end here -->

			<!-- logo start here -->
			<div id="logo">
				<a href="index.html">
					<img src="images/huimeilogo.jpg" alt="mainlogo" />
				</a>
			</div>
			<!-- logo end here -->

			<!-- mainmenu start here -->
			<nav id="mainmenu">
				<ul id="menu">
					<li><a href="index.html">任务</a>
						<ul>
							<li><a href=""><span>-</span> 任务 1</a>
							</li>
							<li><a href=""><span>-</span> 任务 2</a>
							</li>
							<li><a href=""><span>-</span> 任务 3</a>
							</li>
						</ul>
					</li>

					<li class="dropdown"><a href="single.jsp">患者</a>
						<ul>
							<li><a href=""><span>-</span> 王建国</a>
							</li>
							<li><a href=""><span>-</span> 郭林</a>
							</li>
							<li><a href=""><span>-</span> 于谦</a>
							</li>
						</ul>
					</li>
					<li class="selected"><a href="prescription.html">处方和诊断</a>
						<ul>
							<li><a href=""><span>-</span> 王建国</a>
							</li>
							<li><a href=""><span>-</span> 郭林</a>
							</li>
							<li><a href=""><span>-</span> 于谦</a>
							</li>
						</ul>
					</li>
					<li class="dropdown"><a href="">知识库</a>
					</li>
					<li><a href="">医生交流</a>
					</li>
					<li class="dropdown" hidden="true"><a href="#">pages</a>
						<ul>
							<li><a href=""><span>-</span> column page</a>
							</li>
							
						</ul>
					</li>
				</ul>
			</nav>
			<!-- mainmenu end here -->

		</header>
		<!-- header end here -->

		<!-- pagetitle start here -->

		<!-- pagetitle end here -->

		<!-- breadcrumb start here -->

		<!-- breadcrumb end here -->

		<!-- maincontent start here -->
		<section id="content-wrapper">
			<div class="row">
				<div class="twelve columns">
					<!-- blog post 1 -->

					<!--Begin sharing box-->

					<!-- Begin of Comment -->
					<div id="comment">
						<h5>王建国</h5>
						<ol class="commentlist">
							<li>
								<div class="avatar">
									<img src="images/sample-images/testi-people4.png" alt="" />
								</div>

								<div class="comment-text">
									
									<div class="four columns">
										<ul class="disc">
											<li>性别：男</li>
											<li>年龄：56</li>
											<li>职业：退休</li>
											<li>婚姻：已婚</li>
											<li>地址：花园路5号中兴大厦10层</li>
										</ul>
									</div>
									<div class="four columns">
										<ul class="disc">
											<li>病案No：E200001</li>
											<li>保险：医疗保险</li>
											<li>药物过敏：青霉素</li>
											<li>环境过敏：粉塵</li>
											<li>电话：13570001000</li>
										</ul>
									</div>
									<div class="four columns">
										<ul class="disc">
											<li>就诊次数：19</li>
											<li>饮食习惯：中</li>
											<li>运动习惯：中</li>
											<li>已诊断疾病：</li>
											<li>糖尿病，冠心病</li>
										</ul>
									</div>

								</div>

							</li>
							<br />
							<br />
							<br />

							
						</ol>
					</div>
<div class="eight column">
	<h5>输入诊断信息</h5>
	
		<form action="#" id="" /> 
                    <fieldset> 
                                           
                    <input type="text" name="name" class="textfield" id="diagnosisName" value="" /> 
                     <a class="button medium white" id="diagnosisBtn" >保存</a>
                   
                    <span class="loading" style="display: none;">Please wait..</span>
                    <div class="clear"></div>
                    </fieldset> 
                </form>
	
	
                
                <div class="testi-container">                        	
                        <div class="testi-text">
                        	<h6>确诊疾病</h6>
                           <ul id="diagnosisUl">
                           	
                           </ul>
                            
                        </div>
                        
                        <div class="clear"></div>                                                                     
                    </div>
                <h5>输入检验单</h5>
	<form action="#" id="" /> 
                    <fieldset> 
                                           
                    <input type="text" name="name" class="textfield" id="examName" value="" /> 
                     <a class="button medium white" id="examBtn" >保存</a>
                  <a class="button medium white" id="" >打印</a>
                    <span class="loading" style="display: none;">Please wait..</span>
                    <div class="clear"></div>
                    </fieldset> 
                </form>
                 <div class="testi-container">                        	
                        <div class="testi-text">
                        	<h6>检验单</h6>
                           <ul id="examUl">
                           	
                           </ul>
                            
                        </div>
                        
                        <div class="clear"></div>                                                                     
                    </div>
                    <h5>输入处方</h5>
	<form action="#" id="" /> 
                    <fieldset> 
                                           
                    <input type="text" name="name" class="textfield" id="prescriptionName" value="" /> 
                    <a class="button medium white" id="prescriptionBtn" >保存</a>
                      <a class="button medium white" id="" >打印</a>
<!--                    <input type="button" name="submit" class="buttoncontact" id="prescriptionBtn" value="保存" />
-->                    <span class="loading" style="display: none;">Please wait..</span>
                    <div class="clear"></div>
                    </fieldset> 
                </form>
                
                 <div class="testi-container">                        	
                        <div class="testi-text">
                        	<h6>处方</h6>
                           <ul id="prescriptionUl">
                           	
                           </ul>
                            
                        </div>
                        
                        <div class="clear"></div>                                                                     
                    </div>
               
</div>
	
			
					<aside class="four columns">		
								
<aside id="recommendExam">
					
						<h5>疑似疾病和检查</h5>
						<div class="info">点击疾病名和检查自动添加</div>
						<ul >
							<li class="diseaseName"><strong>高血压</strong>	</li>
							</ul><ul class="arrow">
											<li class="examlist">量血压</li>
											<li class="examlist">血脂四项</li>
											</ul>
											</aside>
											<aside>
											
											<ul class="">
												<li class="diseaseName"><strong>高血脂</strong></li>
												</ul><ul class="arrow">
												<li class="examlist">血脂四项</li>
												<li class="examlist">TSH</li>
											</ul>
											
											</aside>
<aside>
		
						
						<ul >
							<li><strong>糖尿病常规复查</strong>	</li>
							</ul><ul class="arrow">
											<li class="examlist">眼底检查</li>
											<li class="examlist">血脂四项</li>
											<li class="examlist">肾功二项</li>
											</ul>
	
</aside>
<h5>指南用药建议</h5>
<div class="info">点击药名自动添加处方</div>
											<aside id="prescriptionShow" style="visibility: visible;">
												
												
											</aside>
	<aside  style="visibility: hidden;">
		<h6>高血压推荐用药：</h6>
		
												<ul id="hypertensionPre"><li>
													<strong>血管紧张素											
													</strong></li>
													<li class="prescriptionBtn">卡托普利</li>
													<li class="prescriptionBtn">马来酸依那普利</li>
													<li class="prescriptionBtn">盐酸贝那普利</li>
													<li class="prescriptionBtn">培哚普利</li>
													<li><strong>受体阻滞剂											
													</strong></li>
													<li class="prescriptionBtn">缬沙坦</li>
													<li class="prescriptionBtn">厄贝沙坦</li>
													<li class="prescriptionBtn">替米沙坦</li>
													<li class="prescriptionBtn">坎地沙坦酯</li>
												</ul>
												<ul id="hyperbloodfat"><li>
													<strong>他汀类											
													</strong></li>
													<li class="prescriptionBtn">洛伐他汀</li>
													<li class="prescriptionBtn">辛伐他汀</li>
													<li class="prescriptionBtn">普伐他汀</li>
													<li class="prescriptionBtn">氟伐他汀钠</li>
													<li><strong>贝特类											
													</strong></li>
													<li class="prescriptionBtn">苯扎贝特</li>
													<li class="prescriptionBtn">非诺贝特</li>
													
												</ul>
												
											</aside>
											

							</div>
		</section>
		<!-- maincontent end here -->
		

		<!-- footer start here -->
		<footer>
			<div class="row">
				<div class="three columns mobile-two">
					<img src="images/huimeilogo.jpg" alt="" class="img-left" />
					<p class="copyright-text">&copy; Copyright &copy; 2013.Company name All rights reserved.<a target="_blank" href="http://www.mycodes.net/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a> - More Templates <a href="http://www.mycodes.net/" target="_blank" title="源码之家">源码之家</a>
					</p>
				</div>
				<div class="three columns mobile-two">
					<h5>地址</h5>
					<ul>
						<li class="address-icon">中城写字楼
							<br />300室
							<br />海淀区花园路25号</li>
						<li class="phone-icon">Phone : +621 55566671</li>
						<li class="email-icon">Email : info@huimeitimes.com</li>
					</ul>
				</div>
				<div class="three columns mobile-two">
					<h5>Company</h5>
					<ul>
						<li><a href="#">关于惠每</a>
						</li>
						<li><a href="#">Career</a>
						</li>
						<li><a href="#">Press &amp; Media</a>
						</li>
						<li><a href="#">Environmental Impact</a>
						</li>
						<li><a href="#">Affiliate Program</a>
						</li>
						<li><a href="#">Privacy Policy</a>
						</li>
					</ul>
				</div>
				<div class="three columns mobile-two">
					<h5>Flickr</h5>
					<ul id="flck-thumb" class="thumbs">
						<li class="no-image"></li>
					</ul>

					<!-- Noscript Notification when your Javascript not active -->
					<div id="flickr-noscript">
						<p>Can't load Flickr feed, please activate your javascript first...</p>
					</div>
					<!-- End of Noscript Notification when your Javascript not active -->
				</div>
			</div>
		</footer>
		<!-- footer end here -->

		<!--<script>
			$('#noscript').remove();
		</script>
-->

	</body>

</html>